<body class="splash">
  <div class="container">

    <img class="home_img" src="assets/uw-crest.png">
    <h1 class="brand head">Welcome to RateMyCourses!</h1>
    <h2>Rate, Review, and Rave about courses at UW-Madison. We're your trusted source for honest opinions from hundreds of students just like you!</h2><br>
    <h2>Please <a class="no_underline main brand" style="color:#4ba4c7" href="/signup">sign up</a> or 
      <a class="no_underline main brand" style="color:#4ba4c7" href="/login">login</a> to get rating!</h2>
  
  </div>
</body>


