<div class="container mx-auto my-auto">
  <img class="home_img" src="uw-crest.png" alt="UW-Madison Crest">
  <h1 class="brand head">Welcome to RateMyCourses!</h1>
  <h3>Rate, review, and rave about courses at UW-Madison. We're your trusted source for honest opinions from hundreds of students just like you!</h3><br>
  <h3>Please <a class="no_underline main brand" style="color:#4ba4c7 !important" href="/signup">sign up</a> or 
    <a class="no_underline main brand" style="color:#4ba4c7 !important" href="/login">log in</a> to get rating!</h3>  
</div>

