<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Welcome To RateMyCourses!</div>
        <br>
        <div class="masthead-heading text-uppercase">Please sign up or login to continue.</div>
    </div>
</header>
