<div class="container centered">
  <h1 class="brand head">Welcome to RateMyCourses!</h1><br>
  <h2>Rate, Review, and Rave about courses at your univeristy. We're your trusted source for honest opinions from hundreds of students just like you!</h2><br>
  <h2>Please <a class="plain" href="/signup">sign up</a> or <a class="plain" href="/signup">login</a> to get rating!</h2>
</div>


