<% if object.errors.any? %>
  <div class="field_with_errors" id="error_explanation">    
  <br><br>

    <% object.errors.full_messages.each do |msg| %>
      <%= msg %>.
    <% end %>
  </div>
<% end %>