<div class="nav">
  <ul>
    <li><a href="/login">Login</a></li>
    <li><a href="/signup">Sign Up</a></li>
    <li style="float:left"><a class="main brand" href="/">RateMyCourses</a></li>
  </ul>
</div>